body {
    padding-left: 5px;
}

.page-header {
    color: #DE1F5F; 
    font-family: cursive;
	padding-top: 2px;    
}

.header-content {
	font-family: cursive;
}

.user-content{


}
.question{
	color: #1F85DE;
	font-size: 16pt;
	font-family: cursive;
}
.author{
	color: #3DDE1F;
	font-size: 18pt;
	font-family: cursive;
}
.answer{
	
	font-family: cursive;
	font-size: 13pt;
	color: #DE1FD5;
}